node_modules/
public/
.DS_Store
notes/
/.vscode

/vendor
/wp
/wp-config.php

content/languages

content/themes/*
!content/themes/oroadtrip

content/plugins/*
!content/plugins/oroadtrip-map

/content/db.php
