$fa-font-path: '~font-awesome/fonts';

$font-stack: 'Roboto Slab', Arial, sans-serif;
$font-stack-title: 'Permanent Marker', Georgia, serif;

$border-width: 3px;
$border-width-thin: 1px;

$breakpoint-medium: 500px;
$breakpoint-large: 1200px;

$color-primary: #000;
$color-secondary: #FFF;
$color-ternary: #cc0e00;

$duration: .5s;
$duration-fast: .25s;
$duration-slow: 1s;

$gutter-thin: .25rem;
$gutter-small: .5rem;
$gutter: 1rem;
$gutter-large: 2rem;
$gutter-very-large: 3rem;
$gutter-extra-large: 5rem;